---
layout: default
title: Projects
description: A small collection of projects I've worked on.
featured_image: images/laptop_stockimage.jpg
---

<div class="page-project">
	<header class="header--single">
		<div class="wrap">
			<h1 class="header__title">Projects</h1>
			<p class="header__subtitle subtitle--light"> A small collection of projects I've worked on. Source code for all of thes can be found on <a href="https://github.com/jmoro0408">my Github</a>.</p>
		</div>
	</header>

	<section class="all-projects">
		<div class="wrap">
			<div class="posts__list grid">
				{% for project in site.projects %}
				<!-- {% if forloop.first == true %} -->
				<article class="project project-new">
					<div class="grid">
						<a href="{{ project.url | relative_url }}">
							<div class="project__image{% if paginator.page == 1 %} project__image--new{% endif %}"
								style="background-image: url({{ project.featured_image | relative_url }})">
							</div>
						</a>

						<div class="project__content-wrap">
							<div class="project__content">
								<time class="project__date label--small">{{ project.date | date: "%B %d, %Y" }}</time>
								<h2 class="project__title h4"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
								<p class="project__subtitle">{{ project.subtitle }}</p>
								<p class="project__description">{{ project.description }}</p>
								<a href="{{ project.url | relative_url }}" class="project__link button--text--accent --right">Keep Reading</a>
							</div>
						</div>
					</div>
				</article>
				<!-- {% else %}
				{% include component__project-preview.html %}
				{% endif %} -->
				{% endfor %}
			</div>
		</div>
	</section>

	{% if paginator.total_pages > 1 %}

	<section class="pagination">
		<div class="wrap">
			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | relative_url }}"
				class="button--text--accent --left pagination__prev">Newer Posts</a>
			{% endif %}
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | relative_url }}"
				class="button--text--accent --right pagination__next">Older Posts</a>
			{% endif %}
		</div>
	</section>

	{% endif %}
</div>


