<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m James, nice to meet you!</h2>
      <p class="subtitle subtitle--light">I’m an aspiring data scientist with a keen interest in visualization and machine learning. 
      </p>

      <p>I'm skilled in all seps of dat science, including data mining, pre-processing, 
      analysing and results visualization. I also have a keen interest in machine learning, 
      and have employed various ML algorithms both shallow and deep. </p>
      <p>I primarily use Python for data wrangling but also have experience with SQL and matlab. </p>
      <p>I currently work as a mechanical engineer in gorgeous Vancouver, BC but I am keen to break into a
      data science career! </p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>