<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m James, nice to meet you!</h2>
      <p class="subtitle subtitle--light">I’m a Machine Learning Engineer at QuantSpark.
      </p>

      <p>I'm skilled in all facets of data science, including data mining, pre-processing,
      analysis and results visualization. I have a strong background in statistics and mathematics, and 
      have delivered several machine learning solutions from conception to production.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>