<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m James, nice to meet you!</h2>
      <p class="subtitle subtitle--light">I’m a Senior Data Analytics Consultant with AECOM.
      </p>

      <p>I'm skilled in all facets of data science, including data mining, pre-processing,
      analysis and results visualization. I also have a keen interest in machine learning,
      and have employed various ML algorithms throughout my personal projects and throughout my 9-5.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>